[Paths]
game_folder = F:/Porn/Games
program_folder = ${game_folder}/__GameList

[Fonts]
# family, size, *options
default = Ebrima, 11
small = Ebrima, 8
medium = Ebrima, 10
large = Ebrima, 14
title = Gauge Heavy, 18

[Colors]
play_button = spring green
link_button = light sky blue
edit_button = tan1

[Sizes]
padding = 6
input_colomn_limit = 8
combobox_width = 10
executables_per_game_limit = 60

[Window Dimensions]
browse_width = 1400
browse_height = 1230
edit_width = 1125
edit_height = 675
add_width = 500
add_height = 250

[Browse Window]
max_games_per_page = 50
recent_limit = 25
search_width = 825
search_height = 250
run_submenu_max_height = 400
tool_button_size = 30
lineitem_char_height = 5
version_textbox_char_width = 8
categories_textbox_char_width = 20
tags_textbox_char_width = 25
title_image_width = 165
title_image_fade = 100

[Javascript Selectors]
title = div[uix_component="MainContent"] h1.p-title-value
tags = li.groupedTags > a
desc = article.message-body.js-selectToQuote > div.bbWrapper > div > b
ver = article.message-body.js-selectToQuote b

# =========================
# reference variables (case sensitive, ordered by appearance/preferrence)
# =========================
[Executable File Types]
# Type = ext1 [, ext2...]
Executable = exe
Java = jar
Flash = swf
Web = html, htm, url

[Info - Input]
# input item = input width
Title = 75
URL = 100
Image = 100
Version = 25
Program Path = 120
Description = 75

[Categories - Toggleable]
# values are ignored
Favorite
Eroge
Completed
Abandoned

[Categories - Selected]
# category = option1, option2...
Status = New, Playing, Beaten
Format = Flash, HTML, Java, Others, Ren''Py, RPGM, Unity, Unreal, Wolf RPG
Art = Real Porn, Text, Pixel, 3D, Drawn
Protagonist = Male, Female, Futa/Trans, Multiple, Created, Unknown

[Categories - Rename]
# f95zone tag = preferred alias
japanese game = Eroge
text based = Text
3dcg = 3D
2dcg = Drawn

[Tags - Toggleable]
# values are ignored
Animated
Bestiality
Corruption
Femdom
Footjob
Furry
Futa/Trans
Gay
Gross
Incest
Loli
Monster Girl
Shota
Sissification
Vore
Yuri

[Tags - Selected]
# category = option1, option2...

[Tags - Rename]
# f95zone tag = preferred alias
scat = Gross
urination = Gross
female domination = Femdom
lesbian = Yuri
